name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:

    - uses: 'actions/checkout@v2'

    - uses: 'actions/setup-python@v2'
      with:
        python-version: '3.8'

    - name: yamlllint
      run: |
        pip install yamllint==1.26.3
        yamllint template.yaml

    - name: cfn-lint
      run: |
        pip install cfn-lint==0.54.1
        cfn-lint -t template.yaml

    - name: license
      run: |
        grep -q 'LICENSE-2.0' template.yaml
